<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="/css/center.css">
  <link rel="stylesheet" href="./fontawesome/css/all.min.css" />
  <title>{{title}}</title>
</head>

<body>
  <header class="cabeçalho">
    <a href="#" class="logo">
      <img src="/img/logo.jpg" alt="logo do sistema">
    </a>
  </header>

  <div class="center-registration">
    <div class="imagem">
      <i class="fas fa-warehouse icons-color"></i>
    </div>

    <h1>Lista de Centros de Distribuição</h1>
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Localização</th>
            <th>Estoque</th>
            <th>Entregas</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each centers}}
          <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.nome}}</td>
            <td>{{this.dataValues.localizacao}}</td>
            <td>{{this.dataValues.estoque}}</td>
            <td>{{this.dataValues.entregas}}</td>
            <td>
              <a href="/editCenter/{{this.dataValues.id}}/edit">Editar</a>
              <form action="/deleteCenter/deleteCenter/{{this.dataValues.id}}" method="POST"
                onsubmit="return confirm('Tem certeza?')">
                <button type="submit">Excluir</button>
              </form>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

  <section class="rodape" id="Contato">
    <div class="redes">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
    </div>
    <div class="credito"> <span>@IF sistema</span></div>
  </section>

  <script src="/js/homepage.js"></script>
  <script src="https://kit.fontawesome.com/560011bd3e.js" crossorigin="anonymous"></script>
</body>

</html>