<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link do font awesome  -->
    <link rel="stylesheet" href="../fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/personalData.css">
    <title>{{title}}</title>
</head>

<body>
    <header class="cabeçalho">
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo do sistema" />
        </a>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>

    <div class="container">
        <div class="usuario-container">
            <a href="./clientPanel" class="back"><i class="fa-sharp fa-solid fa-xmark"></i></a>

            <div class="gestao-de-dados">
                <h2>Gestão de Dados Pessoais</h1>

                    <form action="/atualizar_dados" method="POST">
                        <label for="nome">Nome:</label>
                        <input type="text" value="{{ name }}" name="nome" required>
                        <label for="email">E-mail:</label>
                        <input type="email" value="{{ email }}" name="email" required>
                        <label for="telefone">Telefone:</label>
                        <input type="tel" value="{{ telefone }}" name="telefone" required>
                        <label for="telefone">Cpf:</label>
                        <input type="tel" value="{{ cpf }}" name="cpf" required>
                        <button type="submit" class="botao">Atualizar dados</button>
                    </form>
            </div>
        </div>
    </div>

    <section class="rodape" id="Contato">

        <div class="redes">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credito"> <span>@IF sistema</span></div>
    </section>

    <script src="/js/homepage.js"></script>
    <script src="https://kit.fontawesome.com/560011bd3e.js" crossorigin="anonymous"></script>
</body>